#@data/values
---
image: ghcr.io/educates/educates-oauth-simple-frontend:latest
domain: example.com
namespace: educates-portal
ingress:
  tlsSecretRef:
    name: example.com-tls
    namespace: educates-secrets
  caSecretRef:
    name: example.com-ca
    namespace: educates-secrets
