#@ load("@ytt:data", "data")
---
apiVersion: v1
kind: Namespace
metadata:
  name: #@ data.values.namespace
---
apiVersion: lookup.educates.dev/v1beta1
kind: ClusterConfig
metadata:
  name: local-cluster
  namespace: #@ data.values.namespace
---
apiVersion: lookup.educates.dev/v1beta1
kind: ClientConfig
metadata:
  name: #@ data.values.siteConfig.educates.credentials.username
  namespace: #@ data.values.namespace
spec:
  client:
    password: #@ data.values.siteConfig.educates.credentials.password
  roles:
    - tenant
  tenants:
    - #@ data.values.siteConfig.educates.credentials.username
---
apiVersion: lookup.educates.dev/v1beta1
kind: TenantConfig
metadata:
  name: #@ data.values.siteConfig.educates.credentials.username
  namespace: #@ data.values.namespace
spec:
  clusters:
    nameSelector:
      matchNames:
      - local-cluster