#@ load("@ytt:data", "data")
#@ if data.values.ingress.tlsSecretRef and data.values.ingress.caSecretRef:
---
apiVersion: secrets.educates.dev/v1beta1
kind: SecretCopier
metadata:
  name: educates-portal-ingress-secrets
spec:
  rules:
  #@ if data.values.ingress.tlsSecretRef:
  - reclaimPolicy: Delete
    sourceSecret:
      name: #@ data.values.ingress.tlsSecretRef.name
      namespace: #@ data.values.ingress.tlsSecretRef.namespace
    targetNamespaces:
      nameSelector:
        matchNames:
        - #@ data.values.namespace
  #@ end
  #@ if data.values.ingress.caSecretRef:
  - reclaimPolicy: Delete
    sourceSecret:
      name: #@ data.values.ingress.caSecretRef.name
      namespace: #@ data.values.ingress.caSecretRef.namespace
    targetNamespaces:
      nameSelector:
        matchNames:
        - #@ data.values.namespace
  #@ end
#@ end